.formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: 1rem;
  .form {
    width: 50%;
    display: flex;
    align-items: end;
    gap: 1rem;

    .formItem {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: none;
        background-color: rgba(255, 255, 255, 0.651);
      }
    }

    button {
      padding: 4px 10px;
      height: 68%;
      cursor: pointer;
      background-color: rgb(209, 27, 209);
      border: none;
      border-radius: 0.5rem;
      color: white;
    }
  }
}
