* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
  background-color: rgb(84, 19, 87);
  padding: 0.25rem;
  color: white;
}

.allNotes {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;

  .loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
