@use "./index.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background: $color-bg;
  color: $color-bg-light;
  font-family: $font-primary;
}
