@use "../../../styles//abstracts/index.scss" as *;
.form-outer {
  min-height: 100%;
  width: 100%;
  padding: $space-3;
  @include flex-center(center, flex-start);

  .form-inner {
    min-height: 100%;
    width: 50%;
    padding: $space-4;
    background-color: rgb(36, 36, 36);
    @include flex-center(center, center, column, $space-2);

    .header {
      position: relative;
      width: 100%;
      @include flex-center(center, center, row);

      i {
        position: absolute;
        left: 5%;
        justify-self: center;
        font-size: $fs-xl;
        font-weight: 600;
      }

      span {
        font-size: $fs-xl;
        font-weight: 600;
      }
    }

    .dummy-img {
      width: 100%;
      height: 15rem;
      padding: $space-5 $space-4;

      img {
        border-radius: $radius-lg;
        object-fit: fill;
      }
    }

    .text-part {
      width: 100%;
      @include flex-center(center, center, column, $space-2);
      margin-bottom: $space-4;

      p {
        color: $color-text-muted;
      }
    }
    form {
      width: 100%;

      @include flex-center(center, center, column, $space-6);

      .both {
        width: 100%;
        @include flex-center(center, center, row, $space-2);
      }

      .form-group {
        position: relative;
        width: 100%;
        @include flex-center(center, flex-start, column, $space-2);

        label {
          color: $dull-light;
          font-size: $fs-xs;
        }

        .error {
          color: $color-primary;
          font-size: $fs-xs;
        }

        div.input-wrapper {
          position: relative;
          width: 100%;
          input {
            width: 100%;
            padding: $space-2;
            border: none;
            outline: none;
            border-radius: $radius-sm;
            background-color: $input-color;
            color: $light;

            &::placeholder {
              color: $color-text-muted;
            }
          }
          .eye-toggle {
            position: absolute;
            right: 2%;
            top: 25%;
            cursor: pointer;
          }
        }
      }
    }

    p.link-p {
      margin-top: $space-3;
      font-size: $fs-sm;

      .link {
        text-decoration: none;
        color: $color-primary;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
