@use "../../../styles/index.scss" as *;

.left-sidebar {
  width: 100%;
  height: 100%;
  height: 100vh;
  position: sticky;
  top: 0;

  .wrapper {
    width: 100%;
    height: 100%;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    gap: $space-4;

    .link-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      gap: $space-2;
      padding-block: $space-2;
      padding-inline: $space-3;
      border-radius: $radius-lg;
      overflow: hidden;
      cursor: pointer;
      position: relative;

      .msg-wrapper {
        position: relative;

        .msg-icon {
          position: relative;
        }

        p.message-count {
          position: absolute;
          top: -$space-2;
          right: -$space-2;
          background-color: $color-error;
          font-size: $fs-xs;
          border-radius: $radius-round;
          width: 1.2rem;
          height: 1.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $light;
        }
      }

      span {
        transform: translateX(-200px);
        transition: 0.3s ease;
      }

      .profileImg {
        width: 2rem;
        border-radius: $radius-round;
      }

      &:hover {
        background-color: $color-secondary;
      }
    }

    &:hover {
      .link-wrapper {
        span {
          transform: translateX(0);
        }
      }
    }
  }
}
